DB_HOST=localhost
DB_PORT=3308
DB_USER=torreal_admin
DB_PASSWORD=admin123
DB_NAME=torreal_db
API_PORT=3000
JWT_SECRET=cambia-esto-en-produccion
JWT_EXPIRES_IN=7d
DB_ROL_EMPLEADO=Empleado
DB_ROL_CLIENTE=Cliente
DB_ESTADO_LABORAL_DEFAULT=Activo
